.flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.w100 {
    width: 100%;
}


/* Grids */

.gridfit200 {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:  1rem;
}