/* shopping bag */
.shopping_bag_icon {
    /*icon */
    content: url(/icons/icon_shopping_bag_final.png);
    width: 1.2rem;
    height: 1.2rem;
    padding-left: 1rem;
}

.gray {
    background-color: var(--greywhite);
}
.yellow {
    background-color: var(--yellow);
    
}
  .gray::before {
    content: "Add";
  }
  .yellow::before {
    content: "added";
    color: var(--dark_purple);
  }

  .shopping_bag_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;   
    width: fit-content;
    height: 100%;
    padding: 0.4rem;
    text-transform: uppercase;
    margin: 0px 2px;
    color: var(--dark_purple);
  }
  .shopping_bag_button::after, .shoppingBagButtonSelMovie::after { /*adds shopping bag icon to the button */
    content: url(/icons/icon_shopping_bag_final.png);
      height: auto;
  }
  .shoppingBagButtonSelMovie::after {
    margin-left: 1rem;
  }

  

  .shoppingBagButtonSelMovie {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;   
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    text-transform: uppercase;
    color: var(--dark_purple);
  }
  .shoppingBagButtonSelMovie a:hover,
.shoppingBagButtonSelMovie:hover {
    font-weight: 600;
}
/* shopping bag */
.sizeFit {
  height: 1.5rem;
  width: fit-content;
}

button.playbutton,
.shoppingBagButtonSelMovie {
  height: 2.6rem;
  align-items: center;
  padding: 1rem;
}
#optionsButton {
  display: none;
  gap: 0.5rem;
  text-align: center;
  justify-content: center;
}

.buttonOption {
  background-color: var(--greywhite);
  color: black;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.buttonOption:hover {
  font-weight: 600;
}
.buttonOption:nth-child(1)::before {
  content: url(/icons/icon_leftarrow.png);
  margin-right: 1rem ;
  height: 1.6rem;
}
.buttonOption:nth-child(2)::after {
  content: url(/icons/icon_frontarrow.png);
  margin-left: 1rem ;
  height: 1.6rem;
}



  /* nav right */
  .icon_shopping_bag_nav {
    position: relative;
  }
  #shopBagCountContainer {
    position: absolute;
    background-color: var(--dark_purple);
    border-radius: 0%;
    bottom: 32%;
  }
  #shopBagCountContainer .badge {
    font-size: 12px;
  }

